# Logs
*.log
logs

# Python
*.py[codt]
__pycache__/

# Installer logs
pip-log.txt

# Translations
*.mo

# IDE
.idea/*

# Configuration
challenge/.env

# Tests
.pytest_cache/

# Statics
challenge/project/static/*

# Database SQLite
*.db
